.current-step {
  color: red;
}

.container {
  display: -webkit-flex;
  display: flex;
}

controls {
  -webkit-flex: 1;
  flex: 1
}

.patterns {
  -webkit-flex: 7;
  flex: 7;
}

.step {
  min-width: 10px;
}
