.current-step {
  color: red;
}

.container {
  display: -webkit-flex;
  display: flex;
}

.controls,
controls {
  -webkit-flex: 1;
  flex: 1
}

.patterns {
  -webkit-flex: 7;
  flex: 7;
}

.row-header {
  border-right: 1px dashed #ccc;
}

.column-header {
  border-bottom: 1px dashed #ccc;
}

.step {
  text-align: center;
  min-width: 15px;
  height: 18px;
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}
